#rm_title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.rm-data-box{
    display: flex;
    gap: 0.3125rem;
    max-width: 780px;
    width: 100%;
    margin:0 auto;
}

.rm-data-box input, select{
    transition: all .3s ease-in-out;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid black;
    outline: none;
    position: relative;
}


.rm-data-box  select {
	appearance: none;
	-webkit-appearance: none;
	width: 100%;
	padding: 5px 10px 5px 10px;
}

.rm-data-box select::after {
	content: "&#8964";
	position: absolute;
	pointer-events: none;
	top: 50%;
	right: 0;
	width: 16px;
	height: 16px;
	background-color: #000000;
	clip-path: polygon(50% 80%, 0 20%, 100% 20%);
}

.rm-data-box input:focus, select:focus{
    transition: all .3s ease-in-out;
    background-color: rgba(0,0,0,0.05);
    border:none;
    border-bottom: 1px solid black;
}


.rm-data-box #rm_submit{
    transition: all 0.3s ease-in-out;
    background: rgb(72, 247, 188);
    border:none;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

.rm-data-box #rm_submit:hover{
    transition: all 0.3s ease-in-out;
    background: rgb(32, 107, 82);
    color:white;
    border:none;
}

.rm-data-box #rm_species{
    max-width: 8rem;
}

.rm-data-box #rm_type{
    max-width: 8rem;
}

#rm_results{
    display: flex;
    gap:0.625rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    min-height: 500px;
}

.rm_card{
    max-width: 280px;
    min-height: 450px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap:0.625rem;
    flex-wrap: wrap;
    align-content: flex-start;
    border-radius: 12px;
    background-color: rgb(255, 242, 226);
    overflow: hidden;
    border: 1px solid black;
}
#rm_cardinfo{
    width: 100%;
    padding: 15px 25px;
    display: flex;
    row-gap: 0.225rem;
    flex-wrap: wrap;
}
.rm_card p{
    margin: 0;
    width: 100%;
    font-size: 0.775rem;
}
.rm_card p>span{
    font-weight: 800;
}
.rm_card .rm_char_img{
    min-height: 100px;
    max-width: 100%;
}

.rm_card .rm_char_img img{
    height: auto;
    width: 100%;
    min-height: 100%;
    aspect-ratio: 4/4;
}

.rm_page-controls{
    margin-top:64px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.rm_page-controls a{
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    padding: 15px 30px;
    background-color: rgb(72, 247, 188);
    cursor: pointer;
    border-radius: 5px;
    min-width: 70px;
    text-align: center;
}
.rm_page-controls a:disabled, .rm_ctrl.disabled{
    transition: all 0.3s ease-in-out;
    background-color: rgba(72, 247, 188, 0.3);
    cursor:unset;
}

.rm_page-controls a:hover:not(.rm_ctrl.disabled){
    transition: all 0.3s ease-in-out;
    padding: 15px 30px;
    background-color: rgb(32, 107, 82);
    color: white;
}

#rm_main-wrapper{
    max-width: 1440px;
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {
    .rm-data-box{
        display: flex;
        gap: 0.3125rem;
        max-width: 780px;
        width: 100%;
        flex-wrap: wrap;
        margin: 0 auto;
        row-gap: 0.75rem;
    }

    .rm-data-box input, select{
        flex-grow: 1;
    }
    .rm-data-box #rm_species{
        max-width: 50%;
    }
    
    .rm-data-box #rm_type{
        max-width: 50%;
    }

    .rm_page-controls {
        row-gap: 3rem;
    }
    .rm_page-controls a {
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        padding: 7.5px 20px;
        background-color: rgb(72, 247, 188);
        cursor: pointer;
        border-radius: 5px;
        min-width: 70px;
        text-align: center;
    }
}